/* __Pasindu Ranasinghe__
_____IT21384738__
_____CSS Styles for Admin Login Page__*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
  }
  body{
    /* margin: 8%; */
    background-color: white;
  }

.Login-form{
    width:450px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .Login-form h2{
    text-align: center;
    background-color: darkcyan;
    padding: 12px 0px;
    color: white;
    
  }
.Login-form form{
    padding: 30px 60px;
  }
  .Login-form .input-field{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
  }
  .Login-form.input-field{
    color: darkslategray;
    padding: 10px 14px;
    background-color: aliceblue;
    margin-right: 4px;
  }
.Login-form .input-field input{
    background-color:aliceblue;
    color:black ;
    border:none;
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
	cursor: pointer;
  }
.Login-form button{
    width: 100%;
    background-color: cadetblue;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0;
    transition: background-color 0.4s;
  }
  
.Login-form button:hover{
    background-color: darkcyan;
  }
  
.Login-form form div.fogot a{
    color: rgb(17, 96, 193);
}

/* Admin Dashboard Css start here*/

@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
 body
{
    overflow-x: hidden;
} 

.wrapper
{
    position: relative;
    width:100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 60px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover
{
    background: #03a9f4;
}
.navigation ul li:nth-child(1):hover
{
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover
{
    background: transparent;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon
{
    position:relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}
.navigation ul li a .icon .fa
{
    color: white;
    font-size: 24px;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar
{
    width: 100%;
    background: #ffff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content:space-between; 
    align-items: center;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle::before
{
    content: '\f0c9';
    font-family:fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search lable
{
    position: relative;
    width: 100%;
}
.search label input 
{
    width: 100%;
    height: 40px;
    border-radius:40px;
    padding:5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid black;
}
.search label .fa
{
    position: absolute;
    left: 15px;
    top: 10px;
}

.main{
    background: #333;
  
}
.card{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    margin-left: 450px;
    margin-top: 130px;
    width: 330px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border-radius: 15px;
}

    

.card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: .5s;
    overflow: hidden;
    object-fit: cover;

}
.card-image img{
    display: block;
    width: 100%;
}
.social-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    display: flex;
    z-index: 3;
}

.social-icons li{
    list-style: none;
}
.social-icons li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 24px;
    color: #333;
    margin: 0 auto;
    transition: .5s;
    transform: translateY(180px);
    opacity: 0;
    visibility: hidden;
}

.details
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.details h2{
    margin: 0;
    color: #333;
}

.job-title{
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

.card:hover img{
    opacity: .4;
    transition: .5s;
}

.card:hover li a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.card:hover li:nth-child(1) a{
    transition-delay:.1s ;
}

.card:hover li:nth-child(2) a{
    transition-delay:.2s ;
}

.card:hover li:nth-child(3) a{
    transition-delay:.3s ;
}
.card:hover li:nth-child(4) a{
    transition-delay:.4s ;
}

.card:hover .card-image{
    transform: translateY(-120px);
    transition: .5s;
}


/*Admin Panel pages Css start from here*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --green:#27ae60;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid var(--black);
}

html{
   font-size: 70.5%;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}



.btn{
   display: block;
   width: 100%;
   cursor: pointer;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.7rem;
   padding:1rem 3rem;
   background: var(--green);
   color:var(--white);
   text-align: center;
}

.btn:hover{
   background: var(--black);
}

.message{
   display: block;
   background: var(--bg-color);
   padding:1.5rem 1rem;
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
}

.container{
   max-width: 1200px;
   padding:2rem;
   margin:0 auto;
   font-size: 62.5%;
   padding: 20px; 
   width: auto;
   resize: b;
   overflow: auto;
   
}


/* Start of Staff*/

.admin-Emp-form-container.centered{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
}

.admin-Emp-form-container form{
   max-width: 50rem;
   margin:0 auto;
   padding:2rem;
   border-radius: .5rem;
   background: var(--bg-color);
}

.admin-Emp-form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   text-align: center;
   font-size: 2.5rem;
}

.admin-Emp-form-container form .box{
   width: 100%;
   border-radius: .5rem;
   padding:1.2rem 1.5rem;
   font-size: 1.7rem;
   margin:1rem 0;
   background: var(--white);
   text-transform: none;
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}


@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

/* Hotel Css */

.admin-Hotel-form-container.centered{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
}

.admin-Hotel-form-container form{
   max-width: 50rem;
   margin:0 auto;
   padding:2rem;
   border-radius: .5rem;
   background: var(--bg-color);
}

.admin-Hotel-form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   text-align: center;
   font-size: 2.5rem;
}

.admin-Hotel-form-container form .box{
   width: 100%;
   border-radius: .5rem;
   padding:1.2rem 1.5rem;
   font-size: 1.7rem;
   margin:1rem 0;
   background: var(--white);
   text-transform: none;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}
 
/* End of Hotel CSS*/

/*Start of Flight CSS*/

/* This is the begining of css that belongs to the Flight html*/

.admin-Flight-form-container.centered{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
}

.admin-Flight-form-container form{
   max-width: 50rem;
   margin:0 auto;
   padding:2rem;
   border-radius: .5rem;
   background: var(--bg-color);
}

.admin-Flight-form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   text-align: center;
   font-size: 2.5rem;
}

.admin-Flight-form-container form .box{
   width: 100%;
   border-radius: .5rem;
   padding:1.2rem 1.5rem;
   font-size: 1.7rem;
   margin:1rem 0;
   background: var(--white);
   text-transform: none;
}


/* end of Flight*/



  